{% load widget_tweaks %}



{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong>
            <p {% if forloop.last %} class="mb=0" {% endif %}>{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}



{% for field in form %}
        
    {% if field is not form.image %}

        <div class="form-group">
            {% if form.is_bound %}
                
                {% if field.errors %} 
                        
                    {% render_field field class+='form-control is-invalid form-rounded' %}   

                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{error}}
                        </div>
                    {% endfor %}

                {% else %} 

                    {% render_field field class+='form-control is-valid form-rounded' %} 
                
                {% endif %}
            
            {% else %}

                {% render_field field class+='form-control form-rounded' %}

            {% endif %}
        </div>
        

        {% else %}

            <div class="form-group">
                {% if field.value.url %}
                    <input type="file" name="image" id="{{ field.id_for_label }}" accept="image/*" data-current-image="{{ field.value.url }}">
                {% else %}
                    <input type="file" name="image" id="{{ field.id_for_label }}" required accept="image/*">
                {% endif %}
            </div>
            

        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">
                {{ field.help_text|safe }}
            </small>
        {% endif %}

{% endfor %}